# Prettier configuration
printWidth: 100
singleQuote: true
tabWidth: 2
useTabs: false
endOfLine: 'lf'
experimentalOperatorPosition: start

plugins:
  - '@prettier/plugin-xml'
  - prettier-plugin-gherkin
  - prettier-plugin-java
  - prettier-plugin-packagejson

# xml rules:
xmlWhitespaceSensitivity: ignore
